<div class="main-footer">
  <h3>Guilherme Developer - MJV</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsam nisi blanditiis quos earum vel, amet numquam tempore facilis ullam dolores eligendi nostrum harum assumenda ea! Architecto error neque ut?</p>
  <div class="logo-footer">
    <a href="#" target="_blank">
      <img src="assets/icons8-twitter-24.png">
    </a>
    <a href="https://github.com/GuilhermeMelo01"  target="_blank">
      <img src="assets/icons8-github-24.png">
    </a>
    <a href="https://www.linkedin.com/in/guillherme-melo/"  target="_blank">
      <img src="assets/icons8-linkedin-24.png">
    </a>
    <a href="mailto:meloguilherme1994@gmail.com" target="_blank">
      <img class="logo-gmail" src="assets/icons8-gmail-logo-30.png">
    </a>
  </div>
  <div class="copy-footer">
      <p>Copyright ©2023 MjvSchool. Design by GuilhermeMelo01</p>
  </div>
</div>
