<h1>{{ titulo | uppercase }}</h1>
<h3>Produtos disponiveis até a data: {{dataHoje | date: 'long'}}</h3>
<div>
  <p (click)="clicouTag()">Descrição do produto: {{ produto.descricao }}</p>
  <p style="width: 300px;" (mouseenter)="PassouMouse()">Preço: {{ produto.preco | currency: 'BRL' }}</p>
  <p>Quantidade: {{ produto.quantidade }}</p>
  <p>Preço com desconto: {{ precoComDesconto(produto.preco) | currency: 'BRL' }}</p>
  <img src="{{ produto.img }}" width="400px" height="250px">
  <br>
  <input type="text" (keyup)="pressionouTecla($event)">
  <br>
  <button (click)="obterPrecoDesconto()">Obter desconto de 10%</button>
  <br>
  <button (click)="comprar()">Comprar</button>
  <hr>
  <h2>Telefone da loja: {{ telefone | phone }}</h2>
</div>
