<div class="main-header">
  <div class="content-header">
    <div class="logo-header">
      <img src="assets/colaboradores.png">
    </div>
    <div class="sobre-header">
      <a href="#">
        <h3 appBlue>SOBRE</h3>
      </a>
    </div>
    <div class="servicos-header">
      <a href="#">
        <h3 appBlue>SERVIÇOS</h3>
      </a>
    </div>
    <div class="membros-header">
      <a href="#">
        <h3 appBlue>MEMBROS</h3>
      </a>
    </div>
    <div class="blog-header">
      <a href="#">
        <h3 appBlue>BLOG</h3>
      </a>
    </div>
    <div class="login-header">
      <a href="#">
        <h3 appBlue>Login</h3>
        <img src="assets/login-roxo.png">
      </a>
    </div>
  </div>
</div>
