<div class="main-header">
  <div class="div-logo">
    <img src="assets/colaboradores.png">
  </div>
  <div class="div-sobre">
    <a href="#">
      <h3>SOBRE</h3>
    </a>
  </div>
  <div class="div-servico">
    <a href="#">
      <h3>SERVIÇOS</h3>
    </a>
  </div>
  <div class="div-membro">
    <a href="#">
      <h3>MEMBROS</h3>
    </a>
  </div>
  <div class="div-blog">
    <a href="#">
      <h3>BLOG</h3>
    </a>
  </div>
  <div class="div-login">
    <a href="#">
      <h3>Login</h3>
    </a>
    <img src="assets/login-roxo.png">
  </div>
</div>
