<h1>{{titulo}}</h1>

<div>
  <p (click)="clicouTag()">Descrição do produto: {{ produto.descricao }}</p>
  <p style="width: 300px;" (mouseenter)="PassouMouse()">Preço: {{ produto.preco }}</p>
  <p>Quantidade: {{ produto.quantidade }}</p>
  <p>Preço com desconto: {{ precoComDesconto(produto.preco) }}</p>
  <img src="{{ produto.img }}" width="400px" height="250px">
  <br>
  <input type="text" (keyup)="pressionouTecla($event)">
  <br>
  <button (click)="obterPrecoDesconto()">Obter desconto de 10%</button>
  <br>
  <button (click)="comprar()">Comprar</button>
</div>
