<div class="main-listagem">
  <h2>COLABORADORES</h2>
  <div class="content-listagem">
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 1</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 2</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 3</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 4</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 5</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
  </div>
</div>
