<div class="main-listagem">
  <h2>{{titulo}}</h2>
  <div class="content-listagem">
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: {{colaborador.id}}</div>
      <div>Nome: {{colaborador.nome}}</div>
      <div>Salario: {{colaborador.salario}}</div>
      <div>Cargo: {{colaborador.cargo}}</div>
    </div>
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 2</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 3</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 4</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
    <div class="block-listagem">
      <div class="block-imagem">
        <img src="assets/placeholder-colaborador.png">
      </div>
      <div>Id: 5</div>
      <div>Nome: nome</div>
      <div>Salario: 4500</div>
      <div>Cargo: cargo</div>
    </div>
  </div>
</div>
